<!DOCTYPE html>
<html ng-app="myApp">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="script.js"></script>

<body>

    <div ng-controller="myCtrl">
        <h1>{{heading}}</h1>

        {{countdown}}
        <form name="searchUser" ng-submit="search(username)">
            <input type="search" required name="searchUser" value="searchUser" placeholder="Username to find" ng-model="username">
            <input type="submit" name="search" value="search" ng-click="search(username)">
        </form>
        <div ng-include="'userdetails.html'" ng-show="user"></div>
        <div>
            <br> {{errorMessage}}
        </div>
    </div>

</body>

</html>