<!DOCTYPE html>
<html ng-app="myApp">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="script.js"></script>

<body>

    <div ng-controller="myCtrl">
        <h1>{{heading}}</h1>


        <form name="searchUser" ng-submit="search(username)">
            <input type="search" required name="searchUser" value="searchUser" placeholder="Username to find" ng-model="username">
            <input type="submit" name="search" value="search" ng-click="search(username)">
        </form>
        <!-- Alternative of above :
        <form name="searchUser">
            <input type="search" name="searchUser" value="searchUser" placeholder="Username to find" ng-model="username">
            <input type="submit" name="search" value="search" ng-click="search(username)">
        </form>
        //This just dont have form validation  ng-click replaced by ng-submit
        -->
        <h3 style="center">{{username}}</h3>
        <div>
            <br> Name: {{user.name}}
            <br> Location: {{user.location}}
            <br>
            <img src="{{user.avatar_url}}" title="{{user.name}}" alt="user's profile image'">
        </div>
        Order :
        <select ng-model="repoSortOrder">
            <option default value="+name">Name</option>
            <option value="-stargazers_count">Stars</option>
            <option value="+language">Language</option>
        </select>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Stars</th>
                        <th>Language</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="repo in repos | orderBy: repoSortOrder">
                        <!-- act like a for-each loop -->
                        <td>{{repo.name}}</td>
                        <td>{{repo.stargazers_count | number}}</td>
                        <!-- |: pipe symbol ; number: filter -->
                        <td>{{repo.language}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <br> {{errorMessage}}
        </div>
    </div>

</body>

</html>